/* Base tab colours */

tab .tab-background {
  --firehacks-hue: 0deg;
  --firehacks-saturation: 100%;
  --firehacks-lightness-from: 70%;
  --firehacks-lightness-to: 90%;

  background: linear-gradient(to bottom right,
    hsl(var(--firehacks-hue) var(--firehacks-saturation) var(--firehacks-lightness-from)),
    hsl(var(--firehacks-hue) var(--firehacks-saturation) var(--firehacks-lightness-to))
  ) !important;
}

tab[selected] .tab-background, tab:hover .tab-background {
  --firehacks-lightness-from: 60%;
  --firehacks-lightness-to: 80%;
}
