@import url("tabColour.css");

/* Make the pinned tabs narrower (default is HUGE) */
:root {
  --tab-pinned-min-width-expanded: 30px !important;
}

/* Bold selected and hover tab text */
.tabbrowser-tab[selected], .tabbrowser-tab:hover {
  font-weight: 700 !important;
}

/* Add outline to selected and hover tab;
 * explicit copy of built-in box shadow for easy modification */
tab[selected] .tab-background, tab:hover .tab-background {
  outline-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4) !important;
}

/* Italicise unread tabs (depends on function in JS) */
.tabbrowser-tab[unread]:not([skipbackgroundnotify]) {
  font-style: italic !important;
}

/* Reduce tab vertical padding */
#tabbrowser-tabs[orient="vertical"] {
  & .tabbrowser-tab {
    padding-block: 2px !important;
  }
}

/* The default is different even for pinned tabs, and messes them up. */
#tabbrowser-tabs[orient="vertical"] {
  & .tabbrowser-tab {
    &:nth-child(1 of :not([hidden])) {
      padding-block-start: 2px !important;
    }
  }
}

/* Fixes for container and group markers */
#tabbrowser-tabs[orient="vertical"] {
.tab-context-line {
  margin: 0 -6px !important;
  width: 3px !important;
  border-radius: 1px !important;
  background: linear-gradient(rgba(255, 255, 255, 0.4), transparent) var(--identity-icon-color) !important;
}
tab-group {
    &:not([collapsed])::before {
      margin: 7px -2px 4px -2px !important;
      width: 3px !important;
      border-radius: 1px !important;
      background: linear-gradient(rgba(255, 255, 255, 0.4), transparent) var(--tab-group-color) !important;
    }
}
}

/* Alternate colours for dark mode */
@media (prefers-color-scheme: dark) {
  tab[selected] .tab-background, tab:hover .tab-background {
    outline-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4) !important;
  }
  
  #tabbrowser-tabs[orient="vertical"] {
    .tab-context-line {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) var(--identity-icon-color) !important;
    }
    tab-group {
        &:not([collapsed])::before {
          background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) var(--tab-group-color) !important;
        }
    }
  }
}
